{% extends "base.html" %}
{% load static %}  
  
  <!DOCTYPE html>
  <html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="TemplateMo">
      <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

      <title>Host Cloud Template - Services</title>

      <!-- Bootstrap core CSS -->
      <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

      <!-- Additional CSS Files -->
      <link rel="stylesheet" href="{% static "css/fontawesome.css" %}">
      <link rel="stylesheet" href="{% static "css/templatemo-host-cloud.css" %}">
      <link rel="stylesheet" href="{% static "css/owl.css" %}">
  <!--

  Host Cloud Template

  https://templatemo.com/tm-541-host-cloud

  -->
    </head>

    <body>

      <!-- ***** Preloader Start ***** -->
      <div id="preloader">
          <div class="jumper">
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>  
      <!-- ***** Preloader End ***** -->

      <!-- Header -->
      <header class="">
        <nav class="navbar navbar-expand-lg">
          <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}"><h2>Host <em>Cloud</em></h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}">Home
                    <span class="sr-only">(current)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About Us</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'services' %}">Our Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
                </li>
              </ul>
            </div>
            <div class="functional-buttons">
              <ul>
                <li><a href="#">Log in</a></li>
                <li><a href="#">Sign Up</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      {% block services_template %} 
        <!-- Page Content -->
        <!-- Heading Starts Here -->
        <div class="page-heading header-text">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>{{services.tag}}</h1>
                <p><a href="{% url 'index' %}">Home</a> / <span>{{services.title}}</span></p>
              </div>
            </div>
          </div>
        </div>
        <!-- Heading Ends Here -->


        <!-- Services Starts Here -->
        <div class="services-section services-page">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="section-heading">
                  <span>{{services_main.tag}}</span>
                  <h2>{{services_main.title}}</h2>
                  <p>{{services_main.description}}</p>
                </div>
              </div>
              {% for block in services_blocks %}
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="service-item">
                    <i class="{{block.class_name}}"></i>
                    <h4>{{block.title}}</h4>
                    <p>{{block.description}}</p>
                  </div>
                </div>
              {% endfor %}
              
            </div>
          </div>
        </div>
        <!-- Services Ends Here -->


      {% endblock %}  
    </body>
  </html>